%h1.text-center.uk-margin-medium-bottom
  = @title
%table
  %thead
    %tr
      %th Img
      %th Name
      %th Author
      %th Description
      %th Status
      %th Raiting
      %th
      %th

  %tbody
    - @comments.each  do |comment|
      %tr
        %td= image_tag("#{find_book(comment).image.url(:thumb)}") if find_book(comment).image?
        %td
          = link_to "#{find_book(comment).name}", find_book(comment), class: 'uk-margin-right uk-link-heading'
        %td= find_book(comment).author.fullname
        %td= find_book(comment).description
        %td= find_book(comment).status
        %td= render 'comments/stars', :@average_rating => raiting_book(comment)

