%h2.uk-text-center
  Edit #{resource_name.to_s.humanize}
.uk-flex.uk-flex-center.uk-flex-row
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :username
      %br/
      = f.username_field :username, autocomplete: "username", required: true, class: 'uk-input uk-form-width-large'
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'uk-input uk-form-width-large'
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %div
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    .field
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password, autocomplete: "new-password", class: 'uk-input uk-form-width-large'
      - if @minimum_password_length
        %br/
        %em.uk-padding-larg
          = @minimum_password_length
          characters minimum
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password", class: 'uk-input uk-form-width-large'
    .field
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password, autocomplete: "current-password", class: 'uk-input uk-form-width-large'
    .actions.uk-text-center
      = f.submit "Update", class: 'uk-button uk-button-default uk-margin-medium-top uk-margin-medium-bottom'
  %h3 Cancel my account
  %p
    Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}
  = link_to "Back", :back
