= form_with(model: [@book, @book.comments.build], id: 'form_comment', remote: true) do |f|
  .my-4
    1. How would you rate this book?
    .rating
      = f.radio_button :rating, '0', class: 'uk-hidden', id: 'star-null'
      = f.radio_button :rating, '1', class: 'uk-hidden', id: 'star-1'
      = f.radio_button :rating, '2', class: 'uk-hidden', id: 'star-2'
      = f.radio_button :rating, '3', class: 'uk-hidden', id: 'star-3'
      = f.radio_button :rating, '4', class: 'uk-hidden', id: 'star-4'
      = f.radio_button :rating, '5', class: 'uk-hidden', id: 'star-5'
      %section
        %label{:for => "star-1"}
          %svg{:height => "240", :viewbox => "0 0 51 48", :width => "255"}
            %path{:d => "m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"}
        %label{:for => "star-2"}
          %svg{:height => "240", :viewbox => "0 0 51 48", :width => "255"}
            %path{:d => "m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"}
        %label{:for => "star-3"}
          %svg{:height => "240", :viewbox => "0 0 51 48", :width => "255"}
            %path{:d => "m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"}
        %label{:for => "star-4"}
          %svg{:height => "240", :viewbox => "0 0 51 48", :width => "255"}
            %path{:d => "m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"}
        %label{:for => "star-5"}
          %svg{:height => "240", :viewbox => "0 0 51 48", :width => "255"}
            %path{:d => "m25,1 6,17h18l-14,11 5,17-15-10-15,10 5-17-14-11h18z"}
        %label{:for => "star-null"}
          Clear
  .my-4
    2. Your comment
  .form-group
    = f.text_area :body, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-dark my-4', id: 'btn'