%h2.uk-text-center Resend unlock instructions
.uk-flex.uk-flex-center.uk-flex-row
  = form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = render "devise/shared/error_messages", resource: resource
    .field
      = f.label :email
      %br/
      = f.email_field :email, autofocus: true, autocomplete: "email", class: 'uk-input uk-form-width-large'
    .actions.uk-text-center
      = f.submit "Resend unlock instructions", class: 'uk-button uk-button-default uk-margin-medium-top uk-margin-medium-bottom'
= render "devise/shared/links"
