%h1.uk-text-center Listing books

= link_to 'New Book', new_book_path, class: 'uk-link-heading uk-padding-bottom'

%table
  %thead
    %tr
      %th Img
      %th Name
      %th Author
      %th Description
      %th Status
      %th
      %th
      %th

  %tbody
    - @books.each do |book|
      %tr
        %td= image_tag("#{book.image.url(:thumb)}") if book.image?
        %td
          = link_to "#{book.name}", book, class: 'uk-link-heading'
        %td= book.author.fullname
        %td= book.description
        %td= book.status
        %td
          = link_to edit_book_path(book), class: 'uk-margin-right uk-link-heading' do
            %span.fas.fa-pencil-alt

        %td.uk-margin
          = link_to book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'uk-link-heading' do
            %span.fas.fa-trash-alt

%br
  = paginate @books
