-#%p#notice= notice

%p
  %b Name:
  = @book.name
%p
  %b Img:
  = image_tag("#{@book.image.url(:thumb)}") if @book.image?
%p
  %b Description:
  = @book.description
%p
  %b Status:
  = @book.status
%p
  %b Author:
  = @book.author.fullname

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
