%h1.uk-text-center.uk-margin
  = @book.name
.uk-text-center{:class => 'uk-grid-medium uk-child-width-expand@s uk-grid-match', "uk-grid" => ''}
  .uk-inline
    .uk-card.uk-card-default.uk-card-body
      = image_tag("#{@book.image.url(:thumb)}") if @book.image?
    %span.uk-position-small.uk-position-top-right
      .uk-flex.uk-flex-around
        .div
          - if @book.status == true && current_user && @history
            = link_to "Return", book_return_path(status: 0),
                method: :patch,
                class: "uk-button uk-button-default return"
          - if @book.status == false
            = link_to "Take", book_take_path(status: 1),
                method: :patch, remote: true,
                class: "uk-button uk-button-default take"
        = render 'comments/stars'
  %div
    .uk-card.uk-card-default.uk-card-body
      %p
        %b Status:
        %span.status
          = @book.status
      %p
        %b Author:
        = @book.author.fullname
      %p
        %b Description:
        = @book.description
.uk-flex.uk-flex-left
  = link_to 'Edit', edit_book_path(@book), class: 'uk-link-heading'
  \|
  = link_to 'Back', books_path, class: 'uk-link-heading'

%ul{"uk-accordion" => ""}
  %li.uk-open
    %a.uk-accordion-title{:href => "#"} History
    .uk-accordion-content
      %table.uk-table.uk-table-divider.uk-text-right
        %thead
          %tr
            %th Name
            %th Taken at
            %th Return at
        %tbody.history
          = render @book.histories
  %li
    %a.uk-accordion-title{:href => "#"} Reviews
    .uk-accordion-content
      #comments-section
        = render 'comments/form'
        .comments
          - if @book.comments.first.body
            = render @book.comments



